<mat-drawer-container>
    <mat-drawer [mode]="'side'" [position]="'left'"></mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <h4>angular-identity-auth demo</h4>
            </mat-toolbar-row>
        </mat-toolbar>

        <form class="sign-in-wrapper" (submit)="signIn()">
            <mat-form-field>
                <input type="text" matInput placeholder="Login" [(ngModel)]="signInModel.userName" name="userName">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Password" [(ngModel)]="signInModel.password" name="password">
            </mat-form-field>
            <div class="buttons">
                <button mat-raised-button color="primary">Login</button>
                <a mat-button color="accent">Registration</a>
            </div>

        </form>

        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>